.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    margin-top: 10px;
    height: 45px;
    border-radius: 20px;
}

.font-text{
    font-size: 20px;
    font-weight: 600;
}